$background-image-url: "https://t4.ftcdn.net/jpg/03/16/36/59/360_F_316365913_WKVKZW7gzsqqhkx4PgGyu0rArj5GykHK.jpg";
$body-font: serif;

$bird-hover-shadow: 0 8px 26px 0 rgba(0,0,0,0.4);
$bird-normal-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

$navy: rgb(25, 5, 88);
$marine: rgb(44, 8, 161);
$light-grey: rgb(187, 210, 230);
$cyan: rgb(61, 234, 240);

$no-concern-status-color: $cyan;
$vulerable-status-color: salmon;
$critical-status-color: red;