body {
  margin: 0;
  background-image: url("https://t4.ftcdn.net/jpg/03/16/36/59/360_F_316365913_WKVKZW7gzsqqhkx4PgGyu0rArj5GykHK.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: serif;
  padding-top: 50px;
}

div {
  text-align: center;
  width: auto;
  margin: auto;
}

.header {
  width: 800px;
  margin-bottom: 80px;
}

.welcome-message, .clarification-message {
  text-align: center;
  position: static;
}

.welcome-message {
  display: inline;
  font-size: 3em;
  color: rgb(25, 5, 88);
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline solid rgb(44, 8, 161);
  border: 2px solid black;
  background-color: rgb(187, 210, 230);
  padding: 15px;
}

.colors-key .critical-status, .colors-key .vulnerable-status, .colors-key .no-concern-status {
  margin: 5px;
  padding: 15px;
  max-width: 50%;
}

.colors-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  max-width: 50%;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 100px;
}
.colors-key .no-concern-status {
  background-color: rgb(61, 234, 240);
}
.colors-key .vulnerable-status {
  background-color: salmon;
}
.colors-key .critical-status {
  background-color: red;
}

.bird-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  margin-bottom: 50px;
  max-width: 90%;
}

.birdbox:hover {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.4);
}

.critical-birdbox, .vulnerable-birdbox, .no-concern-birdbox {
  border-radius: 10px;
  cursor: pointer;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.critical-birdbox img, .vulnerable-birdbox img, .no-concern-birdbox img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
}

.critical-birdbox .birdbox-content, .vulnerable-birdbox .birdbox-content, .no-concern-birdbox .birdbox-content {
  padding: 3px;
}
.critical-birdbox .birdbox-content .name, .vulnerable-birdbox .birdbox-content .name, .no-concern-birdbox .birdbox-content .name {
  font-weight: bold;
  font-size: 200%;
  margin: 10px 0px;
}
.critical-birdbox .birdbox-content .latinName, .vulnerable-birdbox .birdbox-content .latinName, .no-concern-birdbox .birdbox-content .latinName {
  font-style: italic;
  font-size: 15pt;
  margin: 10px 0px;
}

.no-concern-birdbox {
  background-color: rgb(61, 234, 240);
}
.vulnerable-birdbox {
  background-color: salmon;
  border: solid 2px salmon;
}
.vulnerable-birdbox .birdbox-content {
  color: white;
}

.critical-birdbox {
  background-color: red;
  border: solid 2px red;
}
.critical-birdbox .birdbox-content {
  color: white;
}

.bird-details-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  background: linear-gradient(to right, rgb(110, 102, 236), rgb(0, 232, 255));
  border-radius: 10px;
  z-index: 10;
  cursor: progress;
}
.bird-details-container .bird-intro {
  position: absolute;
  left: 4%;
  top: 5%;
  height: 90%;
  width: 40%;
}
.bird-details-container .bird-intro .bird-details-image {
  position: relative;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 20px;
}
.bird-details-container .bird-intro h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  letter-spacing: 0.4px;
}

.bird-details-container .bird-trivia {
  box-sizing: border-box;
  position: absolute;
  right: 2%;
  top: 5%;
  height: 75%;
  overflow: auto;
  width: 50%;
  font-size: 24px;
  padding: 12px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.button-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}
.button-container button {
  font-size: 25px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: navy;
  color: white;
  cursor: pointer;
  z-index: 11;
}

.main-container.background {
  filter: blur(5px) brightness(50%);
}

.bird-details-container.hidden {
  display: none;
}

/*# sourceMappingURL=website.css.map */
