body {
  margin: 0;
  background-image: url("https://t4.ftcdn.net/jpg/03/16/36/59/360_F_316365913_WKVKZW7gzsqqhkx4PgGyu0rArj5GykHK.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: serif;
  padding-top: 50px;
  font-size: 16px; }

div {
  text-align: center;
  width: auto;
  margin: auto; }

.header {
  width: 800px;
  margin-bottom: 80px; }

.welcome-message,
.clarification-message {
  text-align: center;
  position: static; }

.welcome-message {
  display: inline;
  font-size: 20px;
  color: #190558;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline solid #2c08a1;
  border: 2px solid black;
  background-color: #bbd2e6;
  padding: 15px; }

.colors-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  max-width: 50%;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 100px; }
  .colors-key .no-concern-status {
    margin: 5px;
    padding: 15px;
    max-width: 50%;
    background-color: #3deaf0; }
  .colors-key .vulnerable-status {
    margin: 5px;
    padding: 15px;
    max-width: 50%;
    background-color: salmon; }
  .colors-key .critical-status {
    margin: 5px;
    padding: 15px;
    max-width: 50%;
    background-color: red; }

.bird-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  max-width: 90%; }
  @media screen and (min-width: 768px) {
    .bird-cards {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
      max-width: 95%; } }
  @media screen and (min-width: 1200px) {
    .bird-cards {
      max-width: 1200px; } }

.no-concern-birdbox, .vulnerable-birdbox, .critical-birdbox {
  border-radius: 10px;
  cursor: pointer;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .no-concern-birdbox img, .vulnerable-birdbox img, .critical-birdbox img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%; }
  .no-concern-birdbox .birdbox-content, .vulnerable-birdbox .birdbox-content, .critical-birdbox .birdbox-content {
    padding: 3px; }
    .no-concern-birdbox .birdbox-content .name, .vulnerable-birdbox .birdbox-content .name, .critical-birdbox .birdbox-content .name {
      font-weight: bold;
      margin: 10px 0px; }
    .no-concern-birdbox .birdbox-content .latinName, .vulnerable-birdbox .birdbox-content .latinName, .critical-birdbox .birdbox-content .latinName {
      font-style: italic;
      font-size: 12px;
      margin: 10px 0px; }
  .no-concern-birdbox:hover, .vulnerable-birdbox:hover, .critical-birdbox:hover {
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.4); }

.no-concern-birdbox {
  background-color: #3deaf0;
  border: solid 2px #3deaf0; }
  .no-concern-birdbox .birdbox-content {
    color: black; }

.vulnerable-birdbox {
  background-color: salmon;
  border: solid 2px salmon; }
  .vulnerable-birdbox .birdbox-content {
    color: black; }

.critical-birdbox {
  background-color: red;
  border: solid 2px red; }
  .critical-birdbox .birdbox-content {
    color: white; }

/*# sourceMappingURL=website.css.map */
